	$--white: #eeeeee;
	$--black: #000000;
	$--gray: #333333;
	$--purple: #4900E4;
	$--very-very-light-pink: #f0ebfd;
	$--text-input-field: #F7F7F7;
	$--hospital-green: #ACD9B2;
	$--light-dark-green:#B7D9AB;
	$--soft-green: #DBFFCF;
	$--app-green: #a2ce92;
	$--morado-centro: #82427b;
	$--piel-beige: #D6AF87;
	$--plomo-cafe: #948576;
	$--sm: .875rem;
	$--md: 1rem;	
	$--lg: 1.25rem;
	$--cardShadow: .4rem .4rem .3rem rgba(0, 0, 0, 0.156);