	$--white: #FFFFFF;
	$--black: #24292f;
	$--very-very-light-pink: #f0ebfd;
	$--text-input-field: #F7F7F7;
	$--hospital-green: #ACD9B2;
	$--light-dark-green:#B7D9AB;
	$--soft-green: #DBFFCF;
	$--app-green: #a2ce92;
	$--morado-centro: #82427b;
	$--piel-beige: #D6AF87;
	$--plomo-cafe: #948576;
	$--sm: 14px;
	$--md: 16px;	
	$--lg: 18px;