@import 'vars';

.OrderItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: .1rem solid $--purple;
}
.OrderItem td figure img {
	border-radius: .4rem;
	min-width: 9rem;
	object-fit: cover;
}
.OrderItem td p {
	color: $--black;
	margin: .4rem .8rem;
	line-height: normal;
}
.label {
	font-weight: bold;
}
.OrderItem td div input {
	background-color: white;
	border: none;
	font-size: $--lg;
	font-weight: bold;
	width: 4.2rem;
	margin-right: 1rem;
	font-family: 'Baloo 2', sans-serif;
}
.OrderItem td div input:focus {
	outline: none;
}
/* Estilo para el input number */
.OrderItem td div input[type="number"] {
	text-align: center;
}
.amountContainer button {
	background-color: $--purple;
	color: white;
	box-shadow: .2rem .2rem .3rem #00000033;
	margin-right: 1rem;
}
.amountContainer button:hover {
	scale: 1.01;
	transition: all .2s ease-in-out;
	box-shadow: .1rem .1rem .1rem #00000033;
}
.updateButton {
	align-items: center;
	gap: .4rem;
	border: none;
	display: flex;
	justify-content: center;
	border-radius: .4rem;
    cursor: pointer;
    background: none;
    color: $--black;
    padding: .4rem .7rem;
	font-family: 'Baloo 2', sans-serif;
}
.more-clickable-area {
	background   : white;
	border-radius: 50%;
	filter: invert(100%);
	justify-self: end;
}

.more-clickable-area:hover {
	cursor: pointer;
	scale: 1.9;
	transition: all .2s ease-in-out;
}

.label {
	color: $--black;
	margin-right: 0.4rem;
}

.OrderItem td:nth-child(4) p {
	font-weight: bold;
	font-size: $--sm;
	line-height: normal;
}

@media (max-width: 700px) {
	.label {
		display: none;
	}
}