@import 'vars';

.OrderItem {

	/* 	display: grid;
	grid-template-columns: auto 1fr auto auto;
	gap: 16px;
	margin-bottom: 24px;
	align-items: center; */
	// display        : flex;
	// flex-flow      : row nowrap;
	// align-items    : center;
	// justify-content: space-between;
	figure {
		margin: 0;

		span {
			vertical-align: middle !important;
		}

		img {
			width        : 70px;
			height       : 70px;
			border-radius: 20px;
			object-fit   : cover;
			background   : white;
		}
	}

	p {
		color: $--white;
	}

	td {
		padding: 0px 10px;
	}

	td:nth-child(2) p {
		color: $--soft-green;
	}

	td:nth-child(5) p {
		font-size  : $--md;
		font-weight: bold;
	}

}

.more-clickable-area {
	background   : $--white;
	border-radius: 50%;
}

.more-clickable-area:hover {
	cursor: pointer;
}

.label {
	color: $--white;
}

.inputAmount {
    border-radius: 8px;
    margin: 2px 1px 8px 2px;
    width: 54%;
    padding: 2px;
}

.amountContainer{
	display: flex;
}

.updateButton {
	/* border-radius: 50%; */
	border-radius: 25px;
    cursor: pointer;
    background: none;
    color: white;
    padding: 1px 8px 1px 0px;
    margin: 0px 2px 16px 7px;
	display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

@media (max-width: 700px) {
	.label {
		display: none;
	}
}