@import 'vars';

.form {
    margin: 0 auto;
}
.form_inputs-container {
    display: flex;
    flex-direction: column;
    width: 30rem;
    color: $--black;
    align-items: left;
}
.form_inputs-container label {
    font-size: 1.4rem;
    font-weight: bold;
}
.form_inputs-container input {
    border-radius: .5rem;
    border: none;
    font-size: 1.4rem;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
}
.form_inputs-container textarea {
    border-radius: .5rem;
    font-size: 1.4rem;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
    border: none;
    font-family: 'Baloo 2';
}
.form_inputs-container textarea:focus {
    outline: none;
}
.form_inputs-container input:focus {
    outline: none;
}
.form_inputs-container .button {
    font-family: 'Baloo 2';
    display: flex;
    background: $--gray;
    padding: 5px;
    border-radius: .8rem;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: $--sm 0;
    border: none;
    cursor: pointer;
    transition: all .3s;
}
.form_inputs-container .button:hover {
    background: $--purple;
}