@import 'vars';

.contact {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}
.form_inputs-container {
    display: flex;
}
.title {
    text-align: center;
    color: $--black;
    font-size: 1.8rem;
    font-weight: 800;
}
@media (max-width: 700px) {
    .contact {
        padding: 70px 0;
    }
 }