@import 'vars';

.contact {
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}
.form_inputs-container {
    display: flex;
}
.title {
    text-align: center;
    color: $--black;
    font-size: 1.8rem;
    font-weight: 800;
}
.text {
    color: $--black;
    font-size: 1.2rem;
    font-weight: 600;
}
.imageContainer {
    margin: 0 auto;
}

.imageVending {
    border-radius: 25px;
    background-size: cover;
}
@media (max-width: 700px) {
    .contact {
        padding: 1rem 0;
    }
 }