@import 'vars';

.Nav {
  background: $--gray;
  color: #fff;
  /* width: calc(100% - 1px); */
  width: 100%;/* 
  z-index: 1; */
  height: auto;
}/* 
.hamburger {
  display: none;
}
.menu {
  display: none;
}
.logo-container {
  margin: 0;
  display: flex;
}
.nav-logo {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.logo {
  color: $--app-green;
  font-size: 1rem;
  display: flex;
  align-items: center;
} */
.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
.navbar-left {
  display: flex;/* 
  height: 250px; */
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-right li/* :first-of-type */ {
  margin: 0 0.75rem 0 0;
}
.navbar-right li:last-of-type {
  margin: 0;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  background-color: $--purple;
  padding: 8px;
  border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  background-color: adjust-hue($--purple, $degrees: -8);
}
/* .navbar-email {
  color: $--morado-centro;
  font-size: $--sm;
  margin-right: 12px;
}
.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: $--hospital-green;
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-selling-cart {
  position: relative;
}
.navbar-selling-cart div {
  width: 16px;
  height: 16px;
  background-color: $--hospital-green;
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
 */
/* .widgets {
    bottom: -250px;
    position: relative;
    left: 0; 
    height: 0px;
    margin: 24px;
}
*/
.footerRigthList {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.footerLink {
  display: flex;
  align-items: center;
  color: #fff;
  background-color: transparent;
  padding: 0 .5rem;
}

.registrarse {
  background-color: #fff;
}

.textoFooter {
    color: #fff;
    text-align: left;
    max-width: 700px;
}

@media (max-width: 700px) {
   .menu {
    display: block;
  }
  .hamburger {
    display: flex;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .logo-container {
    display: none;
  } 
}