@import 'vars';

.Nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1rem .5rem;
  max-width: 1024px;
  color: $--black;
}
.hamburger {
  display: none;
}
.menu {
  display: none;
}
.logo-container {
  margin: 0;
  display: flex;
}

.nav-logo {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all .3s ease-in-out;
}
.nav-logo:hover {
  scale: 1.1; 
}
.logo {
  color: $--black;
  font-size: 3rem;
  font-weight: 800;
  margin-left: .5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo:hover {
  color: #3600ab;
  transition: all .2s ease-in-out;
}

.navbar-left ul,
.navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
.navbar-left {
  display: flex;
}
.navbar-left ul {
  margin-left: 12px;
}
.navbar-right li/* :first-of-type */ {
  margin: 0 0.75rem 0 0;
}
.navbar-right li:last-of-type {
  margin: 0;
}
.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: $--black;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  border-bottom: 1px solid $--purple;
  color: $--purple;
  transition: all .2s ease-in-out;
}
.navbar-email {
  color: $--morado-centro;
  font-size: $--sm;
  margin-right: 12px;
}
.navbar-shopping-cart {
  cursor: pointer;
  scale: .9;
}
.navbar-shopping-cart:hover {
  scale: 1;
  transition: all .2s ease-in-out;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: $--hospital-green;
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-selling-cart {
  cursor: pointer;
}
.navbar-selling-cart:hover {
  scale: 1.07;
  transition: all .2s ease-in-out;
  color: $--purple;
  text-shadow: 1rem 1rem 1rem $--purple; // Como?
}

.shoppingCart {
  height: 3rem;
}

.menuNav li{
  margin-right: .5rem;
}

@media screen and (max-width: 800px) {
  .logo {
    font-size: 2rem;
  }
  .navbar-selling-cart {
    width: 1.8rem;
  }
  .navbar-shopping-cart {
    width: 2.2rem;
  }
}

@media (max-width: 700px) {

  

  .menu {
    display: block;
  }
  .hamburger {
    display: flex;
  }
  .navbar-left ul {
    display: none;
  }
  .navbar-email {
    display: none;
  }
  .logo-container {
    display: none;
  } 
}