@import 'vars';

/* .content {
  min-height: calc(100vh - 60px);
  flex-grow: 1;
}
 */
/* .container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}
*/
.content {
  flex-grow: 1;
}