@import 'vars';

.login {
	width: 100%;
	height: auto;
}
.login-container {
	display: flex;
	flex-direction: column;
    width: 30rem;
    align-items: left;
	margin: 0 auto;
}
.login-container h1 {
	font-size: 1.8rem;
    font-weight: 800;
	color: $--black;
	text-align: center;
}
.login-container a {
	text-align: center;
	color: #fff;
}

.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.label {
	font-size: 1.4rem;
    font-weight: bold;
}
.input {
	font-family: 'Baloo 2';
	border-radius: .5rem;
    border: none;
    font-size: 1.4rem;
    padding: .6rem 1rem;
    margin-bottom: 1rem;
}
.input:focus {
    outline: none;
}
.form button {
	font-family: 'Baloo 2';
    display: flex;
    background: $--gray;
    padding: 5px;
    border-radius: .8rem;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    transition: all .3s;
	font-size: 1.4rem;
	margin-bottom: .5rem;
}
.login-button:hover {
	background: $--purple;
}

.contenedorAuhtChange {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: .5rem 0 2rem 0;
	list-style: none;
	text-align: center;
}

.sigInCustomer {
	width: 49%;
	background: $--gray;
    padding: .5rem 1rem;
    border-radius: .8rem;
    color: #fff;
	font-family: 'Baloo 2';
	transition: all .2s;
}
.sigInCustomer:hover {
	background-color: $--purple;
}
.forgot {
	width: 49%;
	background: $--gray;
    padding: .5rem 1rem;
    border-radius: .8rem;
    color: #fff;
	font-family: 'Baloo 2';
	transition: all .2s;
}
.forgot:hover {
	background-color: $--purple;
}

.loginSignUp {
	margin-bottom: .5rem;
	color: $--black;
}

/* .contenedorAuhtChange ul li a {
text-decoration: none;
color: $--morado-centro;
border: 1px solid $--white;
padding: 8px;
border-radius: 8px;
} */ 

@media (max-width: 640px) {
	.logo {
		display: none;
	}
}
