@import 'vars';

.Menu {
	width: auto;
	height: auto;
	border-radius: 0.8rem 0 0 .8rem;
	padding: 20px 20px 0 20px;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
	right: 0rem;
	z-index: 99;
	background-color: white;
	animation: slideRight .3s ease-in-out;
}
@keyframes slideRight {
	0% {
		transform: translateX(100px);	
	}
	100% {
		transform: translateX(0);
	}
}

.closeButton {
    position: absolute;
    top: .1rem;
    left: .8rem;
    color: $--purple;
    border: none;
    cursor: pointer;
	font-weight: bolder;
	font-size: $--lg;
}

.Menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.Menu ul li {
	display: flex;
	justify-content: center;
}
.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
	font-weight: bold;
}
.Menu ul li:last-child {
	padding-top: 14px;
	border-top: 1px solid $--purple;
}
/* .Menu ul li a:last-child {
	color: $--hospital-green;
	font-size: $--sm;
} */
.Menu ul li a {
	color: $--black;
	text-decoration: none;
	margin-bottom: 20px;
	display: inline-block;
}
.Menu ul li a:hover {
	font-weight: 800;
}
.Menu ul li button {
	padding: 1rem 2rem 1rem;
	width: 100%;
	border: none;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	color: $--black;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	background: $--purple;
	transition: all .2s ease-in-out;
}
.Menu ul li button:hover {
	background-color: #3f00d2;
}



@media (max-width: 700px) {
	.Menu {
	position: fixed;
	width: 100%;
	right: 0;
   }
   .Menu ul li {
	text-align: center;
	}
 }