@import 'vars';

.popUp {
   background   : #fff;
   box-shadow   : .4rem .4rem .5rem rgb(0 0 0 / 30%);
   border-radius: .8rem;
   padding      : 1rem;
   text-align   : center;
   width        : auto;
   z-index      : 100;
}

.header {
   display        : flex;
   justify-content: flex-end;
   font-size      : 25px;
}

.body {
   padding-top: 10px;
}

.overlay {
   position        : fixed;
   top             : 0;
   left            : 0;
   bottom          : 0;
   right           : 0;
   display         : flex;
   justify-content : center;
   align-items     : center;
   background      : center;
   background-color: rgba(0, 0, 0, 0.7);
}

.popUp .button_cerrar-popUp {
   font-size      : 1.6rem;
   line-height    : 16px;
   display        : block;
   text-align     : center;
   color          : $--gray;
   transition     : .3s ease all;
   text-decoration: none;
   margin         : 2px;
}

.popUp .button_cerrar-popUp:hover {
   color: $--black;
}