@import 'vars';
.accounts-container {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.title {
    align-self: center;
    color: $--black;
}
.accounts {
    display: flex;
    gap: 1rem;
}
.accounts a {
    padding: .5rem 1rem;
    background-color: $--purple;
    border-radius: 25px;
}
.accounts a:hover {
    scale: 1.02;
    transition: all .2s ease-in-out;
    box-shadow: .3rem .3rem .5rem #0000002c;
}