@import 'vars';

.OrderItem {
/* 	display: grid;
	grid-template-columns: auto 1fr auto auto; */
	display: flex;
	flex-flow: row wrap;
	gap: 16px;
	margin-bottom: 24px;
	align-items: center;
	margin-top: 16px;
}
.OrderItem figure {
	margin: 0;
}
.OrderItem p {
	color: $--black;
}
.OrderItem figure img {
	width: 70px;
	height: 70px;
	border-radius: 20px;
	object-fit: cover;
}
.OrderItem p:nth-child(2) {
	color: $--morado-centro;
}
.OrderItem p:nth-child(3) {
	font-size: $--md;
	font-weight: bold;
}

.more-clickable-area {
	cursor: pointer;
}
