@import 'vars';

.stand_container {
	margin: 104px 34px 24px 34px;
	justify-content: center;
	display: flex;
    	align-items: center;
    	flex-flow: wrap;
}
.ProductInfo {
	margin: 24px 24px 0 72px;
}
.image {
	margin: 10px;
	border-radius: 8px;
}
.ProductInfo p:nth-child(1) {
	font-family: 'Baloo 2';
	font-weight: bold;
	font-size: $--md;
	margin-top: 0;
	margin-bottom: 4px;
}
.ProductInfo p:nth-child(2) {
	font-family: 'Baloo 2';
	color: $--black;
	font-size: $--md;
	margin-top: 0;
	margin-bottom: 6px;
}
.ProductInfo p:nth-child(3) {
	font-family: 'Baloo 2';
	color: $--black;
	font-size: $--sm;
	margin-top: 0;
	margin-bottom: 8px;
}
.ProductInfo label {
	font-family: 'Baloo 2';
	color: $--black;
}
.add-to-cart-button {
	font-family: 'Baloo 2';
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 24px 50%;
	border-radius: 25px;
	height: 45px;
	width: 125px;
	background-color: $--morado-centro !important;
	color: white;
}
.add-to-cart-button:hover {
    background: $--app-green;
	font-family: 'Baloo 2';
}

.add-to-cart-button:active {
	font-family: 'Baloo 2';
    background: $--soft-green;
    color: $--black;
}

.description {
	font-family: 'Baloo 2';
	font-size: 1.3rem !important;
	color: $--black;
}

.price {
	font-family: 'Baloo 2';
	font-size: 1.5rem !important;
	color: $--morado-centro;
}
@media (max-width: 640px) {
	.stand_container {
		display: block;
		margin: 104px -5% 24px 5%;
	}
}
