@import 'vars';

.main-container {
	margin: 0 auto;
	max-width: 1024px;
}

.ProductList {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	/* Reserve space so products loading async don't cause CLS */
	min-height: 480px;
}

@media (max-width: 781px) {
	.ProductList {
		justify-content: center;
	}
}