@import 'vars';

.Recycling {
    max-width: 1024px;
    margin: 0 auto;
}
.Recycling p {
    color: $--black;
    text-align: left;
    margin-bottom: 1rem;
}
.Recycling p a {
    color: $--purple;
    font-weight: 800;
}