@import 'vars';

.Segment-Container {
    margin-top: 40px;
    display: inline-flex;
}

.Segment-Container p {
    width: 50%;
}

.buttonr {
    display: flex;
    background: $--morado-centro;
    padding: 5px;
    border-radius: 18px;
    color: white;
    width: 100px;
    align-items: center;
    justify-content: center;
}

.buttonr:hover {
    background: $--app-green;
}

.buttonr:active {
    background: $--soft-green;
    color: $--black;
}

.Recycler_segment-container {
    width: 50%;
    margin: 2%;
}

.Customer_segment-container {
    width: 50%;
    margin: 2%;
}